# SPDX-License-Identifier: Apache-2.0
# Copyright Contributors to the ODPi Egeria project.
name: "Merge"

on:
  push:
    branches: [main, release-*, feature-*]
  # Also allow for manual invocation for testing
  workflow_dispatch:


jobs:
  build:
    runs-on: ubuntu-latest
    name: "Merge"
    env:
      RELEASE_VERSION: 3.5-SNAPSHOT
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          java-version: 11
          distribution: 'adopt'
      - name: Cache Gradle packages
        uses: actions/cache@v2
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: ${{ runner.os }}-gradle
      # Only for a merge into this repo - not a fork, and just for the main branch
      - name: Build (Publish snapshots to maven central)
        if: ${{ github.repository == 'odpi/egeria-database-connectors' && github.ref == 'refs/heads/main'}}
        # TODO: Need to extend build to make use of snapshot repo for publishing
        run: ./gradlew publish
        # Import secrets needed for code signing and distribution
        env:
          OSSRH_GPG_KEYID: ${{ secrets.OSSRH_GPG_KEYID }}
          OSSRH_GPG_PASSPHRASE: ${{ secrets.OSSRH_GPG_PASSPHRASE }}
          OSSRH_GPG_PRIVATE_KEY: ${{ secrets.OSSRH_GPG_PRIVATE_KEY }}
          OSSRH_TOKEN: ${{ secrets.OSSRH_TOKEN }}
          OSSRH_USERNAME: ${{ secrets.OSSRH_USERNAME }}
      # In other cases just build but don't publish
      - name: Build (no snapshots)
        if: ${{ github.repository != 'odpi/egeria-database-connectors' || github.ref != 'refs/heads/main'}}
        run: ./gradlew build
      # --
      - name: Upload Connector
        uses: actions/upload-artifact@v2
        with:
          name: Postgres Connector
          path: '**/build/libs/*.jar'
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
        if: ${{ (github.event_name == 'workflow_dispatch' || github.event_name == 'push') && github.repository == 'odpi/egeria-database-connectors' }}
      - name: Login to container registry (Quay.io)
        uses: docker/login-action@v1
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_IO_USERNAME }}
          password: ${{ secrets.QUAY_IO_ACCESS_TOKEN }}
        if: ${{ (github.event_name == 'workflow_dispatch' || github.event_name == 'push') && github.repository == 'odpi/egeria-database-connectors' }}
      # For releases (ie not main)
      - name: Build and push (not main merge)
        if: github.ref != 'refs/heads/main'
        id: docker_build_release
        uses: docker/build-push-action@v2
        with:
          push: ${{ (github.event_name == 'workflow_dispatch' || github.event_name == 'push') && github.repository == 'odpi/egeria-database-connectors' }}
          tags: odpi/egeria-database-connectors:${{env.RELEASE_VERSION}},quay.io/odpi/egeria-database-connectors:${{env.RELEASE_VERSION}}
          build-args: version=${{ env.RELEASE_VERSION }}
          context: .
          file: ./Dockerfile
          platforms: linux/amd64,linux/arm64
      # For main code stream
      - name: Build and push (main merge)
        if: github.ref == 'refs/heads/main'
        id: docker_build_main
        uses: docker/build-push-action@v2
        with:
          push: ${{ (github.event_name == 'workflow_dispatch' || github.event_name == 'push') && github.repository == 'odpi/egeria-database-connectors' }}
          tags: odpi/egeria-database-connectors:${{ env.RELEASE_VERSION}}, odpi/egeria-database-connectors:latest, quay.io/odpi/egeria-database-connectors:${{ env.RELEASE_VERSION}}, quay.io/odpi/egeria-database-connectors:latest
          build-args: version=${{ env.RELEASE_VERSION }}
          context: .
          file: ./Dockerfile
          platforms: linux/amd64,linux/arm64
      - name: Image digest (release)
        if: github.ref != 'refs/heads/main'
        run: echo ${{ steps.docker_build_release.outputs.digest }}
      - name: Image digest (main)
        if: github.ref == 'refs/heads/main'
        run: echo ${{ steps.docker_build_main.outputs.digest }}
